html, body {
	background-color: rgba(66, 66, 66, 1);
/*	background-image: url("bg.jpg");
	background-size: cover;*/
	padding: 0;
	margin: 0; 
}

#container {
	width: 640px;
	height: 360px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 0;
}

video {
	position: absolute;
	width: 640px;
	height: 360px;
	display: none;
}

#vid2 {
	display: block;
}

img {
	display: none;
}

canvas {
	position: absolute;
	z-index: 1;
}

#canvas, #merge {
	display: none;
}

#output {
	/*display: none;*/
}

p {
	width: 600px;
	margin: 0 auto;
	margin-top: 40px;
	font-family: "Comic Sans MS";
	font-size: 1.2em;
	color: white;
	text-align: center; 
}